[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
uwsgi = "*"
gunicorn = "*"
'RPi.GPIO' = "*"
flask-socketio = "*"
python-dotenv = "*"
requests = "*"
eventlet = "*"

[requires]
python_version = "3"
