-i https://pypi.org/simple
flask==1.1.1
flask-bcrypt==0.7.1
flask-login==0.4.1
flask-migrate==2.5.2
flask-socketio==4.2.1
flask-sqlalchemy==2.4.0
flask-wtf==0.14.2
gunicorn==19.9.0
python-dotenv==0.10.3
python-socketio==4.3.1
requests==2.22.0
rpi.gpio==0.7.0
uwsgi==2.0.18
