{% extends 'base.html' %}

{% block title %}{{ super() }}| Index{% endblock %}}
{% block page %} Home {% endblock %}}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12 center-align mt1">
      {% if current_user.id %}
        <div id="dash" v-cloak>
          <div v-if="loading" class="col s12 m12 l12 center-align mt4">
            <i class="fas fa-cog fa-spin fa-4x"></i>
          </div>
          <div v-else-if="status">
            <div v-if="status.process" class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-microchip fa-2x left-align" style="color: white"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>Process: ${ status.process }</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="status.cpu_temp" class="col s12 m6 l6 x6">
              <div :class="{ 'teal': (status.cpu_temp <= 40),
                'amber darken-4': (status.cpu_temp > 40 && status.cpu_temp <= 60),
                'red accent-4': (status.cpu_temp > 60) }" class="widget-min">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-thermometer-half fa-2x" style="color: white; margin-left: 4px"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>CPU Temp: ${ status.cpu_temp }°C</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="status.cpu_percent" class="col s12 m6 l6 x6">
                <div v-bind:class="{ 'teal': (status.cpu_percent <= 50),
                  'amber darken-4': (status.cpu_percent > 50 && status.cpu_percent <= 60),
                  'red accent-4': (status.cpu_percent > 60) }" class="widget-min">
                  <div class="row">
                    <div style="margin-top: 0.7em" class="col s1 m1 l1">
                      <i class="fas fa-microchip fa-2x" style="color: white"></i>
                    </div>
                    <div class="col s11 m11 l11">
                      <p class="right-align white-text">
                        <strong>CPU Usage: ${ status.cpu_percent }%</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            <div v-if="status.uptime" class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-clock fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>Uptime: ${ status.uptime }</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="status.mem_percent" class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-memory fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>Memory Free: ${ status.mem_percent }%</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
            <div v-if="status.disk_percent" class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-hdd fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>Disk Usage: ${ status.disk_percent }%</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="status.ip_internal" class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-laptop fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>IPAddress: ${ status.ip_internal }</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div v-else-if="error" class="col s12 m12 l12 center-align mt4">
            <i class="fas fa-exclamation-circle fa-4x"></i>
            <p><strong>Something is wrong!</strong></p>
          </div>
        </div>
        <script>
          var socket = io();
          var app = new Vue({
            el: "#dash",
            delimiters: ["${", "}"],
            data: {
              status: "",
              loading: true,
              error: null,
            },
          });

          setInterval(function(){
            socket.emit("updateStatus", {});
          }, 1500);

          socket.on("statusUpdated", function(data) {
            app.$set(app, "loading", false);
            app.$set(app, "status", data);
          });

          socket.on("error", function(error) {
            app.$set(app, "loading", false);
            app.$set(app, "error", true);
            M.toast({html: `Error: ${pin}`, displayLength: 2000});
          });
        </script>
      {% else %}
        <div class="col s12 m12 l12 center-align mt1">
          <p>Hello, please login.</p>
          <a class="btn" href="{{ url_for('auth.login') }}">Login</a>
        </div>
      {% endif %}
  </div>
{% endblock %}
