{% extends 'base.html' %}
{% block title %}{{ super() }}| Index{% endblock %}}
{% block page %} Home {% endblock %}}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 center-align mt2">
      {% if current_user.id %}
        <div id="app" v-cloak>
          <div v-if="loading" class="col s12 m12 l12 center-align mt4">
            <i class="fas fa-cog fa-spin fa-4x"></i>
          </div>
          <div v-else-if="status">
            <div v-if="status.process" class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-microchip fa-2x left-align" style="color: white"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>Process: ${ status.process }</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="status.cpu_temp" class="col s12 m6 l6 x6">
              <div v-bind:class="{ 'teal': (status.cpu_temp <= 40),
                'amber darken-4': (status.cpu_temp > 40 && status.cpu_temp <= 60),
                'red accent-4': (status.cpu_temp > 60) }" class="widget-min">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-thermometer-half fa-2x" style="color: white; margin-left: 4px"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>CPU Temp: ${ status.cpu_temp }°C</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="status.uptime" class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-clock fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>Uptime: ${ status.uptime }</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="status.mem_used || status.mem_free" class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-memory fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>Used: ${ status.mem_used } Mb / Free: ${ status.mem_free } Mb</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
            <div v-if="status.sdcard_used || status.sdcard_free" class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-hdd fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>Used: ${ status.sdcard_used } / Free: ${ status.sdcard_free }</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="status.ip_internal" class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-laptop fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>Internal IP Address: ${ status.ip_internal }</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="status.ip_external" class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s1 m1 l1">
                    <i class="fas fa-laptop fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s11 m11 l11">
                    <p class="right-align white-text">
                      <strong>External Ip Address: ${ status.ip_external }</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div v-else class="col s12 m12 l12 center-align mt4">
            <i class="fas fa-exclamation-circle fa-4x"></i>
            <p><strong>Something is wrong!</strong></p>
          </div>
        </div>
        <script type="text/javascript">
          var socket = io.connect();
          var app = new Vue({
              el: "#app",
              delimiters: ['${', '}'],
              data: {
                status: '',
                loading: true
              },
          });
        
          function updateValues() {
            socket.emit('updateStatus', {});
          };
            
          socket.on('connect', function() {
            showToast("Websocket connected!", "info");
          });
        
          socket.on('statusUpdated', function(data) {
            app.$set(app, 'status', data);
            app.$set(app, 'loading', false);
          });
        
          setInterval(function(){ updateValues(); }, 1500);
        
        </script>
      {% else %}
        <div class="col s12 m12 l12 center-align mt1">
          <p>Hello <strong>guest</strong>, please login.</p>
          <a class="btn" href="{{ url_for('auth.login') }}">Login</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
