.side-nav {
    transform: translateX(0%) !important;
}

.widget {
  border-radius: 10px;
  padding: 5px 20px;
}

.widget-min {
  border-radius: 10px;
  padding: 0 15px;
}

.sidenav .user-view .name {
   margin-top: 0px !important;
}

.sidenav{
  width: 250px !important;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-bottom: 10px;
}

.mr1{
  margin-right: 1em;
}

.mt1{
  margin-top: 1em;
}

.mt2{
  margin-top: 2em;
}

.mt4{
  margin-top: 4em;
}

.input-field > select {
  display: unset !important;
}

.swal2-container{
  margin-top: 60px;
}


/*show hamburger menu in large screens*/
@media only screen and (min-width: 993px){
  nav a.sidenav-trigger {
      display: unset !important;
  }
}

@media only screen and (min-width: 601px){
  .container {
    width: 95% !important;
  }
}
@media only screen and (min-width: 993px){
  .container {
    width: 95% !important;
  }
}
/*https://stackoverflow.com/questions/42435938/simple-materialize-ui-responsive-side-menu*/