<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %} Lisa {% endblock %}</title>
    <meta name="description" content="LisaPi">
    <meta name="author" content="@bergpb">
    <meta name="theme-color" content="#009688">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#009688">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  </head>
  <body>

    {% include '__navbar.html' %}
    {% include '__sidemenu.html' %}

    {% with msg = get_flashed_messages(with_categories = true) %}
      {% if msg %}
        {% for category, message in msg %}
          <script> showToast("{{ message }}", "{{ category }}"); </script>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="container">
      {% block content %} {% endblock %}
    </div>

  </body>
</html>
