<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} Lisa {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>
</head>

<body>
  <nav class="nav teal">
    <div class="nav-wrapper">
      <div class="left">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      </div>
      <span href="#" class="right mr1"><strong>{%  block page %} {% endblock %}</strong></span>
    </div>
  </nav>
  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background teal"></div>
        <a><span class="white-text name">Hello {{ current_user.username }}!</span></a>
        <a><span class="white-text email">Have a great day!</span></a>
      </div>
    </li>
    <li>
      <a id="home" data-target="#" data-toggle="pill" href="{{ url_for('index') }}">
        <i class="fas fa-home fa-lg"></i>
        Home
      </a>
    </li>
  {% if current_user.is_authenticated %}
    <li>
      <a id="control_pins" href="{{ url_for('control_pins') }}">
        <i class="fas fa-cogs fa-lg"></i>
        Control Pins
      </a>
    </li>
    <li>
      <a id="list_pins" href="{{ url_for('list_pins') }}">
        <i class="fas fa-edit fa-lg"></i>
        Edit Pins
      </a>
    </li>
    <li>
      <a id="change_password" href="{{ url_for('change_password') }}">
        <i class="fas fa-user fa-lg"></i>
        User Settings
      </a>
    </li>
    <li>
      <a id="logout" href="{{ url_for('logout') }}">
        <i class="fas fa-sign-out-alt fa-lg"></i>
        Logout
      </a>
    </li>
  {% else %}
    <li>
      <a id="login" href="{{ url_for('login') }}">
        <i class="fas fa-sign-in-alt fa-lg"></i>
        Login
      </a>
    </li>
    <li>
      <a id="about" href="{{ url_for('about') }}">
        <i class="fas fa-info fa-lg"></i>
        About
      </a>
    </li>
  {% endif %}
  </ul>
  {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
      {% for category, message in messages %}
        <script>
          showToast("{{ message }}", "{{ category }}");
        </script>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %} {% endblock %}
  <div class="footer footer-copyright">
    <div class="container">
      <div class="center">LisaPi | Made with <i class="fas fa-heart fa-sm" style="color:red"></i>
        by: <a href="https://github.com/bergpb">bergpb</a></div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
    sidenavSelect(window.location.pathname);
  </script>
</body>

</html>