<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} Lisa {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>
</head>

<body>
    <div class="wrapper">
      <nav id="sidebar">
          <div class="sidebar-header">
              <h3>LisaPi</h3>
              <strong>LP</strong>
          </div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}" >
                <i class="fas fa-home fa-sm"></i>
                <span class="menu-item">Home</span>
              </a>
            </li>
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('control_pins') }}">
                <i class="fas fa-cogs fa-sm"></i>
                <span class="menu-item">Control Pins</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('list_pins') }}">
                <i class="fas fa-edit fa-sm"></i>
                <span class="menu-item">Edit Pins</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('change_password') }}">
                <i class="fas fa-user fa-sm"></i>
                <span class="menu-item">User</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">
                <i class="fas fa-sign-out-alt fa-sm"></i>
                <span class="menu-item">Logout</span>
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">
                <i class="fas fa-sign-in-alt fa-sm"></i>
                <span class="menu-item">Login</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">
                <i class="fas fa-info fa-sm"></i>
                <span class="menu-item">Info</span>
              </a>
            </li>
          {% endif %}
          </ul>
      </nav>
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <button type="button" id="sidebarCollapse" class="btn btn-default">
                <i class="fas fa-align-justify"></i>
              </button>
              <strong>
                {% block page %}{% endblock %}
               </strong>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories = true) %}
          {% if messages %}
            {% for category, message in messages %}
              <script>
                showToast("{{ message }}", "{{ category }}");
              </script>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
        <footer class="footer">
          <div class="container">
            <div class="text-center">LisaPi | Made with <i class="fas fa-heart fa-sm" style="color:red"></i>
              by: <a href="https://github.com/lisapi-flask">@bergpb</a></div>
          </div>
        </footer>
    </div>

   <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });
    </script>
</body>

</html>