{% extends 'base.html' %}

{% block title %}{{ super() }}| Change Password {% endblock %}}

{% block page %} Change Password {% endblock %}}

{% block content %}
<div class="row">
  <form class="col s12 m6 l4 offset-m3 offset-l4 mt4" novalidate action="" method="POST">
    {{ form.csrf_token }}
    <div class="input-field">
      {{ form.current_password(class="validate", placeholder="Your Current Password") }}
        {% if form.errors.current_password %}
          {% for error in form.errors.current_password %}
            <div class="helper-text red-text">{{ error }}</div>
          {% endfor %}
        {% endif %}
    {{ form.new_password(class="validate", placeholder="New Password") }}
      {% if form.errors.new_password %}
        {% for error in form.errors.current_password %}
          <div class="helper-text red-text">{{ error }}</div>
        {% endfor %}
      {% endif %}
    {{ form.confirm_password(class="validate", placeholder="Confirm Password") }}
      {% if form.errors.confirm_password %}
        {% for error in form.errors.current_password %}
          <div class="helper-text red-text">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col s12 m12 l12 center-align mt1">
      <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
  </form>
</div>
{% endblock %}