{% extends "base.html" %}

{% block title %}{{ super() }}| Control Pins{% endblock %}}

{% block page %} Control Pins {% endblock %}}

{% block content %}
  <div class="row">
  {% if pins %}
    {% for pin in pins %}
      <div class="col s12 m4 l4 x4 mt1">
        <div class="widget teal">
          <div class="row">
            <div style="margin-top: 15px" class="col s7">
              <a href="{{ url_for('control_pin', pin_number = pin.pin) }}">
                {% if pin.state == False %}
                  <i class="fas fa-lightbulb fa-4x" style="color: black"></i>
                {% else %}
                  <i class="fas fa-lightbulb fa-4x" style="color: yellow"></i>
                {% endif %}
              </a>
            </div>
            <div class="col s5">
              <h5 class="right-align white-text"><strong>{{ pin.name }}</strong></h5>
              <h6 class="right-align white-text"><strong>{{ pin.pin }}</strong></h6>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>Please register pin in <a href="{{ url_for('list_pins') }}">Edit pins</a>.</p>
  {% endif %}
  </div>
{% endblock %}