{% extends "base.html" %}

{% block content %}
  <h3 class="text-center mb-4">Control Pins</h3>
  {% if pins %}
    <table class="table table-hover">
    <thead>
      <tr class="text-center">
          <th scope="col">Name</th>
          <th scope="col">Pin</th>
          <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for pin in pins %}
      <tr class="text-center">
        <td>{{ pin.name }}</td>
        <td>{{ pin.pin }}</td>
        <td>
          <a href="{{ url_for('control_pin', pin_number = pin.pin) }}">
            {% if pin.state == False %}
              <i class="fas fa-lightbulb" style="color: black"></i>
            {% else %}
              <i class="fas fa-lightbulb" style="color: yellow"></i>
            {% endif %}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Pin not selected.</p>
  {% endif %}
{% endblock %}