{% extends 'base.html' %}
{% block title %}{{ super() }}| Index{% endblock %}}
{% block page %} Home {% endblock %}}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6 l4 offset-m3 offset-l4 mt4">
      {% if current_user.id %}
        <h4>Hello {{ current_user.username }}!</h4>
        <div id="status">
          <div v-if="loading">
            <p>Carregando...</p>
          </div>
          <div v-else>
            <p>Processos: {% raw %}{{ status.process }}{% endraw %}</p>
            <p>Uptime: {% raw %}{{ status.uptime }}{% endraw %}</p>
            <p>Mem: {% raw %}{{ status.mem_total }}{% endraw %}</p>
            <p>Used: {% raw %}{{ status.mem_used }}{% endraw %}</p>
            <p>Free: {% raw %}{{ status.mem_free }}{% endraw %}</p>
          </div>
        </div>
      {% else %}
      <div class="col s12 m12 l12 center-align mt1">
        <p>Hello anonymous user, please login.</p>
        <a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
  new Vue({
    el: '#status',
    data () {
      return {
        status: '',
        loading: true,
      }
    },
    mounted () {
      this.getData;
      this.interval = setInterval(
        this.getData, 500
      );
    },
    methods: {
      getData: function() {
        axios.get('http://localhost:5000/api/status')
        .then((response) => {
          this.status = response.data;
          this.loading = false;
        })
      },
    },
  });
</script>
{% endblock %}
