{% extends 'base.html' %}
{% block title %}{{ super() }}| Index{% endblock %}}
{% block page %} Home {% endblock %}}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 center-align mt2">
      {% if current_user.id %}
        <div id="status">
          <div v-if="loading" class="col s12 m12 l12 center-align mt4">
            <i class="fas fa-circle-notch fa-spin fa-4x"></i>
          </div>
          <div v-else-if="error" class="col s12 m12 l12 center-align mt4">
            <i class="fas fa-exclamation-triangle fa-4x"></i>
            <p><strong>Some error as ocurred.</strong></p>
          </div>
          <div v-else>
            <div class="col s6 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s2 m2 l2">
                    <i class="fas fa-microchip fa-2x left-align" style="color: white"></i>
                  </div>
                  <div class="col s10 m10 l10">
                    <p class="right-align white-text">
                      <strong>Process: {% raw %}{{ status.process }}{% endraw %}</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s6 m6 l6 x6">
              <div class="widget-min" v-bind:class="{ 'teal': status.cpu_temp <= 50, 'red': status.cpu_temp > 50 }">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s2 m2 l2">
                    <i class="fas fa-thermometer-half fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s10 m10 l10">
                    <p class="right-align white-text">
                      <strong>CPU T.: {% raw %}{{ status.cpu_temp }}{% endraw %}º</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s2 m2 l2">
                    <i class="fas fa-clock fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s10 m10 l10">
                    <p class="right-align white-text">
                      <strong>Uptime: {% raw %}{{ status.uptime }}{% endraw %}</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s2 m2 l2">
                    <i class="fas fa-memory fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s10 m10 l10">
                    <p class="right-align white-text">
                      <strong>Memory Used / Free: {% raw %}{{ status.mem_used }}{% endraw %} Mb / {% raw %}{{ status.mem_free }}{% endraw %} Mb</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s2 m2 l2">
                    <i class="fas fa-hdd fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s10 m10 l10">
                    <p class="right-align white-text">
                      <strong>SdCard Used / Free: {% raw %}{{ status.sdcard_used }}{% endraw %} Gb / {% raw %}{{ status.sdcard_free }}{% endraw %} Gb</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s2 m2 l2">
                    <i class="fas fa-laptop fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s10 m10 l10">
                    <p class="right-align white-text">
                      <strong>Ip Adress: {% raw %}{{ status.local_ip }}{% endraw %}</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l6 x6">
              <div class="widget-min teal">
                <div class="row">
                  <div style="margin-top: 0.7em" class="col s2 m2 l2">
                    <i class="fas fa-network-wired fa-2x" style="color: white; margin-left: -5px"></i>
                  </div>
                  <div class="col s10 m10 l10">
                    <p class="right-align white-text">
                      <strong>Network In / Out: {% raw %}{{ status.network_in }}{% endraw %} /
                              {% raw %}{{ status.network_out }}{% endraw %}</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% else %}
      <div class="col s12 m12 l12 center-align mt1">
        <p>Hello anonymous user, please login.</p>
        <a class="btn" href="{{ url_for('login') }}">Login</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
<script type="text/javascript">
  new Vue({
    el: '#status',
    data () {
      return {
        status: '',
        loading: true,
        error: null,
      }
    },
    mounted () {
      this.interval = setInterval(
        this.getData, 1000
      );
    },
    methods: {
      getData: function() {
        axios.get('{{ api_url }}')
        .then((response) => {
          this.status = response.data;
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          this.error = true;
          clearInterval(this.interval);
        });
      },
    },
  });
</script>
{% endblock %}
