{% extends 'base.html' %}
{% block title %}{{ super() }}| Index{% endblock %}}
{% block page %} Home {% endblock %}}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6 l4 offset-m3 offset-l4 mt4">
      {% if current_user.id %}
        <div id="status">
          {{ error }}
          {{ loading }}
          <div v-if="loading" class="col s12 m12 l12 center-align mt4">
            <i class="fas fa-circle-notch fa-spin fa-4x"></i>
            {{ error }}
          {{ loading }}
          </div>
          <div v-else-if="error" class="col s12 m12 l12 center-align mt4">
            <i class="fas fa-exclamation-triangle fa-4x"></i>
            <p><strong>Some error as ocurred.</strong></p>
          </div>
          <div v-else>
            <h4>Hello {{ current_user.username }}!</h4>
            <p>Process: {% raw %}{{ status.process }}{% endraw %}</p>
            <p>Uptime: {% raw %}{{ status.uptime }}{% endraw %}</p>
            <p>Memory Total: {% raw %}{{ status.mem_total }}{% endraw %}</p>
            <p>Memory Used: {% raw %}{{ status.mem_used }}{% endraw %}</p>
            <p>Memory Free: {% raw %}{{ status.mem_free }}{% endraw %}</p>
          </div>
        </div>
      {% else %}
      <div class="col s12 m12 l12 center-align mt1">
        <p>Hello anonymous user, please login.</p>
        <a class="btn" href="{{ url_for('login') }}">Login</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
  new Vue({
    el: '#status',
    data () {
      return {
        status: '',
        loading: true,
        error: null,
      }
    },
    mounted () {
      this.interval = setInterval(
        this.getData, 1000
      );
    },
    methods: {
      getData: function() {
        console.log('axios getting information');
        axios.get('https://receding-cat-9495.dataplicity.io/api/status')
        .then((response) => {
          this.status = response.data;
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          this.error = true;
          clearInterval(this.interval);
        });
      },
    },
  });
</script>
{% endblock %}
