{% extends "base.html" %}
{% block content %}
  {% if pins %}
    <table class="table table-hover">
    <thead>
      <tr>
          <th scope="col">Name</th>
          <th scope="col">Pin</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for pin in pins %}
      <tr>
        <td>{{ pin.name }}</td>
        <td>{{ pin.pin }}</td>
        <td>{{ pin.state }}</td>
        <td>
          <a class="btn btn-success" href="{{ url_for('edit_pin', pin_id = pin.id) }}"><i class="fa fa-edit"></i></a>
          <a class="btn btn-danger" href="{{ url_for('delete_pin', pin_id = pin.id) }}"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Your list is empty</p>
  {% endif %}
  <div>
    <a class="btn btn-success" href="{{ url_for('create_pin') }}"><i class="fa fa-plus"></i></a>
  </div>
{% endblock %}