{% extends "base.html" %}
{% block title %}{{ super() }}| List Pins {% endblock %}}
{% block page %} List Pins {% endblock %}}
{% block content %}
<div class="container">
  {% if pins %}
    <table class="centered mt4">
    <thead>
      <tr>
          <th>Name</th>
          <th>Pin</th>
          <th>Current Status</th>
          <th>Color</th>
          <th>Icon</th>
          <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for pin in pins %}
      <tr>
        <td>{{ pin.name }}</td>
        <td>{{ pin.pin }}</td>
        {% if pin.state == True %}
          <td>On</td>
        {% else %}
          <td>Off</td>
        {% endif %}
        <td>{{ pin.color }}</td>
        <td>{{ pin.icon }}</td>
        <td>
          <a class="btn blue" href="{{ url_for('edit_pin', pin_id = pin.id) }}"><i class="fa fa-edit"></i></a>
          <a class="btn red btn-delete"><i class="fa fa-trash"></i></a>
          <script>
            $(function(){
              $('.btn-delete').on('click', function() {
                showSwLink("Delete pin?", "question", true, "Delete",
                           "red", "{{ url_for('delete_pin', pin_id = pin.id) }}")
              });
            });
          </script>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Your list is empty.</p>
  {% endif %}
  <div style="margin-top: 10px;">
    <a class="btn btn-success" href="{{ url_for('create_pin') }}">New Pin</a>
  </div>
</div>
{% endblock %}