{% extends "base.html" %}

{% block title %}{{ super() }}| List Pins {% endblock %}}

{% block page %} List Pins {% endblock %}}

{% block content %}
  {% if pins %}
    <table class="table table-sm table-striped">
    <thead>
      <tr class="text-center">
          <th scope="col">Name</th>
          <th scope="col">Pin</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for pin in pins %}
      <tr class="text-center">
        <td>{{ pin.name }}</td>
        <td>{{ pin.pin }}</td>
        {% if pin.state == True %}
          <td>On</td>
        {% else %}
          <td>Off</td>
        {% endif %}
        <td>
          <a class="btn btn-success" href="{{ url_for('edit_pin', pin_id = pin.id) }}"><i class="fa fa-edit"></i></a>
          <a class="btn btn-danger" id="btn-delete"><i class="fa fa-trash"></i></a>
          <script>
            $(function(){
              $('#btn-delete').click(function() {
                showSwLink("Delete pin?", "question", true, "Delete",
                           "red", "{{ url_for('delete_pin', pin_id = pin.id) }}")
              });
            });
          </script>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Your list is empty.</p>
  {% endif %}
  <div>
    <a class="btn btn-success" href="{{ url_for('create_pin') }}">New Pin</a>
  </div>
{% endblock %}