{% extends 'base.html' %}
{% block title %}{{ super() }}| Login{% endblock %}}
{% block content %}
<div class="row">
  <div class="col s10 m6 l4 offset-s1 offset-m3 offset-l4 mt4">
    <h3>Login</h3>
    <form novalidate action="" method="POST">
      {{ form.csrf_token }}
      {{ form.username(class="form-control", placeholder="Username") }}
        {% if form.errors.username %}
          {% for error in form.errors.current_password %}
            <span class="helper-text red-text">{{ error }}</span>
          {% endfor %}
        {% endif %}
      {{ form.password(class="form-control", placeholder="Password") }}
        {% if form.errors.password %}
          {% for error in form.errors.current_password %}
            <span class="helper-text red-text">{{ error }}</span>
          {% endfor %}
        {% endif %}
      <label>
        {{ form.remember_me }}
        <span>Remember Me</span>
      </label>
      <div class="col s12 m12 l12 center-align mt1">
        <button type="submit" class="btn">Login</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}